* {
    margin: 0;
    padding: 0;
}


.open-sans {
    font-family: "Open Sans", sans-serif;
}

body {
    background: rgba(245, 245, 245, 1);
}

header {
    background-color: rgba(247, 211, 211, 0.596);
}

.container {
    max-width: 1140px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav .link-parent {
    display: flex;
    gap: 22px;
    list-style: none;
}

nav .link-parent a {
    text-decoration: none;
}

.my-btn {
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 5px;
    font-weight: 600;
    background-color: white;
}

.my-btn3 {
    color: #FFFFFF;
    width: 139px;
    height: 48px;
    padding: 13px 26px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);

}

.hero-parent {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 80px 100px;
    margin: 20px auto;
    border-radius: 24px;
    background: rgba(198, 228, 214, 1);
    align-items: center;
}

.hero-parent .hero-left h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: rgba(14, 14, 14, 0.5);
}

.hero-parent .hero-left p {
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    color: rgba(14, 14, 14, 1);
}

.hero-parent .hero-left .my-btn2 {
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 17px 34px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
}

.pillars-of-angladesh-parent {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    max-width: 1340px;
}

.pillars-of-angladesh-parent h2 {
    color: rgb(12, 0, 0);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-bottom: 32px;
}

.pillars-of-angladesh-parent .pillar-card-parent {
    display: flex;
    gap: 24px;
    border-radius: 16px;
    justify-content: space-between;
}

.pillars-of-angladesh-parent .pillar-card-parent img {
    width: 64px;
    height: 64px;
    padding: 24px;
}

.pillars-of-angladesh-parent .pillar-card-parent h4 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding-left: 24px;
    margin-bottom: 12px;

}

.pillars-of-angladesh-parent .pillar-card-parent .pillar-card {
    width: 302px;
    height: 244px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}

.pillars-of-angladesh-parent .pillar-card-parent p {
    font-size: 16px;
    text-align: left;
    padding: 0 24px;
    margin-bottom: 12px;
}

.recent-news {
    max-width: 1340px;
    margin: auto;
}

.recent-news-text {
    margin-bottom: 32px;
}

.recent-news .recent-news-info h2 {
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.recent-news .recent-news-info .recent-news-text {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.recent-news .recent-news-card {
    display: flex;
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 1);
}

.recent-news .recent-news-card .sattalite-img {
    border-radius: 24px;
    width: 408px;
    height: 306px;
}

.recent-news .recent-news-card .recent-news-card-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.recent-news .recent-news-card .recent-news-card-text h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
}

.recent-news .recent-news-card .recent-news-card-text .al-jazeera-img {
    width: 134px;
    height: 40px;
}

.recent-news .recent-news-card .recent-news-card-text .card-time-parent {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.recent-news .recent-news-card .recent-news-card-text p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}