* {
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(245, 245, 245, 1);
}

.container {
    max-width: 1350px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: azure;
}

nav .link-parent {
    display: flex;
    gap: 22px;
    list-style: none;
}

nav .link-parent a {
    text-decoration: none;
}